.otp-input{
    width:40px;
    height:40px;
    margin:0px 5px;
    text-align: center;
    font-size: 18px;
}
.otp-form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top:20px;
}